@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: 242, 240, 225;
  --foreground: 18, 18, 17;
  --content-background: 255, 255, 255;
  --primary: 32, 128, 141;
  --primary-dark: 19, 59, 57;
  --text-gray: 75, 85, 99;
  --text-gray-dark: 55, 65, 81;
}

.dark {
  --background: 18, 18, 17;
  --foreground: 242, 240, 225;
  --content-background: 25, 26, 26;
  --primary: 32, 128, 141;
  --primary-dark: 69, 135, 130;
  --text-gray: 156, 163, 175;
  --text-gray-dark: 209, 213, 219;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
